$primaryBtn : #ff77ee;
$navBar: rgb(156, 60, 134);
$textcolor: black;

body {
    background: lightblue;
  }
  .form_button{
    background: $primaryBtn;
  }
header {
    background: $navBar;

}
.icons-section {
    list-style: none;
}
